input{
    display: block;
    border-radius: 5px;
}

#botao_entrar{
    margin-top: 10px;
    border-radius: 5px;
    background-color: greenyellow;
    color: black;
    padding: 5px;
    font-weight: bold;
}

#botao_entrar:active{
    background-color: black;
    color: greenyellow;
}

@media (max-width:952px) {


    .login{
        margin-top: 80px;
    }


}

@media (max-width:858) {

    .login{
        margin-top: 80px;
    }

}